@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overscroll-behavior: none;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Inter, sans-serif;
  --font-sans--font-feature-settings: "cv11";
}
